#score
  %article.post.format-aside
    .wrapped-content
      %h2.blog-title
        処理結果
      %dl
        %dt
          登録日時
        %dd
          = job.created_at.to_s(:db)
      %dl
        %dt
          完了状態
        %dd
          = job.state_completion_message
      %dl
        %dt
          処理時間
        %dd
          = job.processing_time
      %dl
        %dt
          処理対象
        %dd
          = job.collect_count
          件
      %dl
        %dt
          削除件数
        %dd
          = job.destroy_count
          件
