#score
  %article.post.format-aside
    .wrapped-content
      %h2.blog-title
        処理結果
      %dl
        %dt
          登録日時
        %dd
          = @status.job.created_at.to_s(:db)
      %dl
        %dt
          完了状態
        %dd
          = @status.state_completion_message
      %dl
        %dt
          処理時間
        %dd
          = @status.processing_time
      %dl
        %dt
          処理対象
        %dd
          = @status.progression.statuses_count
          件
      %dl
        %dt
          削除済
        %dd
          = @status.progression.destroyed_count
          件
