- content_for :scripts do
  = render 'cleaners/components/status', job: @job, server: @server_status

#content.blog.bg-dark
  #status
    %article.post.format-aside
      = flash_messages
      .wrapped-content
        #progressbar
          .progress.bluegreen.radius
            #bar.meter(style='width:0%;')
          .indicator#indicator.text-center
            = @job.state_message
        .text-center(style='margin-top:15px;')
          = link_to 'show more status', 'javascript:void(0);', class: 'modal-open'
      %hr.no-margin
      .wrapped-content.text-center
        = render partial: 'application/adsense/rectangle_sync'
  .primary-button.text-center(style='margin:8px')
    #operation
      = link_to('キャンセル', abort_cleaner_path, method: :post, class: 'button radius alert', disabled: @job.confirming?)
      = link_to('結果を見る', confirm_cleaner_path, method: :post, class: 'button radius', disabled: @job.processing?)
