!!! 5
%html(lang='en')
  %head(prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#")
    %meta(charset='utf-8')
    %meta(http-equiv='X-UA-Compatible' content='IE=Edge,chrome=1')
    %meta(name='viewport' content='width=device-width, user-scalable=no')
    = render partial: 'layouts/meta'
    %title 黒歴史クリーナー
    = yield :style
    = google_webfonts_init({ google: [] })
    = stylesheet_link_tag 'application', :media => 'all'
    = csrf_meta_tags
    = jquery_include_tag :google
    = javascript_include_tag 'application'
    = render :partial => 'analytics'
    :javascript
        var KC = {};
  %body
    #container.remodal-bg
      = render partial: 'layouts/sidebar'
      %section#content-container.dark.clearfix
        = render partial: 'layouts/header'
        = yield
    = yield :scripts
